*{
    padding: 0;
    margin: 0;
}

body{
    margin: 0%;
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./1.jpg);
    background-size: 110%;
    background-repeat: no-repeat;
    font: 20px 'Lobster', cursive;

}

.audi{
    text-align: center;
    margin-top: 20%;
}

.q1{
    color: whitesmoke;
    font-family: bold;
    font-size: 150%;
    margin-bottom: 15px;
    font: 50px 'Lobster', cursive;
}

p{
    color: whitesmoke;
    font-weight: bold;
}
