body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: url(./zakat.jpg);
}

.audi{
    text-align: center;
    margin-top: 25%;
}

p{
    color: whitesmoke;
}

